section(class="canvas front" id="front")

    div(class="content")

        h2 W'll be back :)

        div

            p We are going under maintenance right now.
            p You can checkout our work
                a(href="https://youtube.com/playlist?list=PLMJDAmxEdQVhdei7CaJZ6TpSVXcRzTHrB", target="_blank")  here


            //div

                //a(href="#section-2") Button 1
                //a(href="#section-3") Button 2

    //+nav-1({ target: "section-1", direction: "next" })
